body {
    background-color: black;
  }
.header {
    background-color: #5ca6ff;
    text-align: center;
    padding: 20px;
  }
  /* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #f5f5f5;
  }
  /* Navbar links */
  .topnav a {
    float: right;
    display: inline;
    color: #5ca6ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* Links - change color on hover */
  .topnav a:hover {
    background-color: black;
    color: #5ca6ff;
  }

  div.t1 {
    text-decoration-color: #5ca6ff;
    padding-right: 500px;
    column-count: 2;
    text-align: center;
  }

  .column {
    background-color: #f5f5f5;
    border-color: black;
    text-align: center;
    color: #5ca6ff;
    width: auto;
    padding: 10px;
    border-width: 75%;
    border-style: solid;
  }
  .column2 {
    float: right;
    text-align: center;
    color: #5ca6ff;
    width: 20%;
    padding: 5px;
    border-color: #5ca6ff;
    border-style: solid;
    border-width: 20%;
  }

  .column3 {
    background-color: #f5f5f5;
    border-color: black;
    text-align: center;
    float: left;
    color: #5ca6ff;
    width: 48%;
    padding: 10px;
    border-width: 48%;
    border-style: solid;
  }
  .column4 {
    background-color: #5ca6ff;
    border-color: black;
    float: right;
    text-align: center;
    color: #f5f5f5;
    width: 48%;
    padding: 10px;
    border-width: 48%;
    border-style: solid;
  }

  /* Clear floats after the columns */
  .row::after {
    content: "";
    color: white;
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) 
  {
    .column {
      width: 100%;
    }
  }

  .column5 {
    background-color: #f5f5f5;
    border-color: black;
    text-align: center;
    color: #5ca6ff;
    width: auto;
    padding: 10px;
    border-width: 48%;
    border-style: solid;
  }
  .column6 {
    background-color: #000000;
    border-color: black;
    text-align: center;
    color: #f5f5f5;
    width: auto;
    padding: 10px;
    border-width: 48%;
    border-style: solid;
  }
  .column7 {
    background-color: #f5f5f5;
    border-color: black;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #5ca6ff;
    width: 98%;
    padding: 10px;
    border-width: 98%;
    border-style: solid;
  }
  .column8 {
    border-color: black;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 98%;
    padding: 10px;
    border-width: 98%;
    border-style: solid;
  }

.pixelart { image-rendering: pixelated;}

.Extrasformating {
  float: inline-start;
  text-align: center;
  color: #5ca6ff;
  width: 21%;
  padding: 10px;
  border-color: #5ca6ff;
  border-style: solid;
  border-width: 21%;
}
.a1:link {
  color: #5ca6ff;
}
.a1:visited {
  color: #5ca6ff;
}
.a1:hover {
  color: red;
}
.a1:active {
  color: #5ca6ff;
}
.a2:link {
  color: #f5f5f5;
}
.a2:visited {
  color: #f5f5f5;
}
.a2:hover {
  color: red;
}
.a2:active {
  color: #f5f5f5;
}
.a4 {
  max-width: 50%;
  margin-top: 0;
  width: 640px; 
  height: 585px;
}

  .column9 {
    background-color: #000000;
    border-color: black;
    text-align: center;
    color: #5ca6ff;
    width: auto;
    padding: 10px;
    border-width: 75%;
    border-style: solid;
  }